{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Zoogler</a></li>
                            <li class="breadcrumb-item"><a href="#">Tables</a></li>
                            <li class="breadcrumb-item active">Editable</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Damaged Goods</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="col text-left">
                            <div class="search-bar">
                                <form method="POST" action="{% url 'search' %}">
                                {% csrf_token %}
                                    <input type="text" name="search" placeholder="search">
                                    <button type="submit" class="btn btn-gradient waves">
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col text-right">
                            <a href="{% url 'generate_excel' %}"><button type="button" class="btn btn-success">Generate Excel</button></a>
                        </div>
                        <h4 class="mt-0 header-title"></h4>
                        <p class="text-muted mb-4 font-13"></p>


                        <div class="mb-3">
                        </div>

                        <table class="table mb-0" id="my-table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Category</th>
                                    <th>Name</th>
                                    <th>Total Stock </th>
                                    <th>Action</th>
                                  <th>Add Stock </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in view %}
                                <tr>
                                    <td><img src="{{ i.image.url }}" alt="Image description" width="120" height="70" /></td>
                                  <td>{{i.category.category_name}}</td>
                                    <td>{{i.name}}</td>
                                    <td>{{i.total_stock}}</td>
                                    <td><a href="{% url 'damaged_good_stock_history' i.id %}"><button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">History</button></a></td>
                                    <td>
                                        <a href="{% url 'update_damaged_goods_stocks' i.id %}" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

{% endblock %}
